.user-msg {
    position: fixed;
    bottom: 13px; /* moved from top to bottom */
    right: 10px;

    display: flex;
    align-items: center;
    gap: 1em;
    padding: 10px;
    border-radius: .5em;

    font-size: .9em;
    background-color: #111;
    color: white;
    z-index: 1000; /* optional: make sure it shows above everything */
}

.user-msg button {
    border-radius: 50%;
    line-height: 1.1;
}

.success {
    background-color: #328E6E;
}

.danger {
    background-color: var(--danger);
}